.row {
  flex-wrap: wrap;
}

.row > .entry{
  order: 1;
  width: 500px;
  max-width: 100%;
  margin: 10px;
}

.fill {
  flex: 1;
}

.mat-card{
  margin-bottom: 15px;

  .button-delete-card {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.controls-div {
  text-align: center;

  button:last-child {
    margin-left: 15px;
  }
}
