<div class="subtitle uppercase">
  <h2>Classroom Frage 1</h2>
</div>
<mat-accordion>
  <mat-expansion-panel *ngFor="let i of [1,2,3,4,5]">
    <mat-expansion-panel-header  class="question">
      <mat-panel-title>
        <span profile-icon class="material-icons">
          account_circle
        </span>
      </mat-panel-title>
      <mat-panel-description>
        How does this work?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="answers">
      <div class="answer row around">
        <div class="row flex-grow-1">
          <div class="column center">
            <div class="accepted row height-25">
              <span class="material-icons pointer">
                done
              </span>
            </div>
          </div>
          <div class="column center">
            <div class="likes mar-right-20 row height-25">
              <span class="material-icons pointer">
                keyboard_arrow_up
              </span>
              <h3>18</h3>
            </div>
            <div class="likes mar-right-20 row height-25">
              <span class="material-icons pointer">
                keyboard_arrow_down
              </span>
              <h3>0</h3>
            </div>
          </div>
          <div class="profile column center">
            <span class="material-icons" profile-icon>
              account_circle
            </span>
          </div>
        </div>
        <div class="answer-text flex-grow-4 column center pad-left-50">
          <p>You can just use one of your experience points to buy you help.</p>
        </div>
      </div>
      <div class="answer row around">

        <div class="row flex-grow-1">
          <div class="column center">
            <div class="not-accepted row height-25">
              <span class="material-icons pointer">
                done
              </span>
            </div>
          </div>
          <div class="column center">
            <div class="likes mar-right-20 row height-25">
              <span class="material-icons pointer">
                keyboard_arrow_up
              </span>
              <h3>2</h3>
            </div>
            <div class="likes mar-right-20 row height-25">
              <span class="material-icons pointer">
                keyboard_arrow_down
              </span>
              <h3>12</h3>
            </div>
          </div>
          <div class="profile column center">
            <span class="material-icons last-profile-icon" profile-icon>
              account_circle
            </span>
          </div>
        </div>
        <div class="answer-text flex-grow-4 column center">
          <p>Try running around the house.</p>
        </div>

      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header  class="question">
      <mat-panel-title>
        <span class="material-icons">
          account_circle
        </span>
      </mat-panel-title>
      <mat-panel-description>
        How does this work?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="answers">
      <div class="answer row around">
        <div class="row flex-grow-1">
          <div class="column center">
            <div class="not-accepted row height-25">
              <span class="material-icons pointer">
                done
              </span>
            </div>
          </div>
          <div class="column center">
            <div class="likes mar-right-20 row height-25">
              <span class="material-icons pointer">
                keyboard_arrow_up
              </span>
              <h3>0</h3>
            </div>
            <div class="likes mar-right-20 row height-25">
              <span class="material-icons pointer">
                keyboard_arrow_down
              </span>
              <h3>5</h3>
            </div>
          </div>
          <div class="profile column center">
            <span class="material-icons">
              account_circle
            </span>
          </div>
        </div>
        <div class="answer-text flex-grow-4 column center pad-left-50">
          <p>Try adding up 1 and 4 to get a result of 9.</p>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
