@import "theme";

/*SCSS Variables ฅ•ω•ฅ*/
$color-standard: #efefef;

/*Fonts and stuff ฅ•ω•ฅ*/
h1,
h2,
h3,
h4,
h5,
h6 {
  // color: $color-standard;
  text-transform: uppercase;
}

h4 {
  color: $color-standard;
  font-size: 1.5em;
}

/*Profile Header ฅ•ω•ฅ*/
.profile-header {
  display: flex;
  justify-content: space-between;
  width: 75%;
  flex-grow: 1;
  align-items: center;
  border-bottom: 3px solid #efefef;

  h1 {
    border-bottom: none;
    align-items: flex-end;
  }
}

article {
  & > * + * {
    margin-top: 2em;
  }

  .row {
    margin-left: -1em;
    margin-right: -1em;
  }

  .row section {
    flex: 1 1 50%;
    padding-left: 1em;
    padding-right: 1em;

    &.profile-img-section {
      flex: 1 1 30%;
    }

    &.experience-section {
      flex: 1 1 70%;
    }
  }

  section mat-card {
    height: 100%;
    box-sizing: border-box;
  }
}

.experience-bar {
  display: flex;
  align-items: center;

  .level {
    flex: 0 0 auto;
    padding: 1em;
    font-weight: bold;
    font-size: 2em;
  }

  .bar {
    flex: 1 1 auto;
    padding-bottom: 1em;
    position: relative;
    text-align: center;

    .label {
      display: inline-block;
      margin-bottom: 0.5em;
    }

    .bar-foreground,
    .bar-background {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1em;
    }

    .bar-background {
      background-color: lightgray;
      width: 100%;
    }

    .bar-foreground {
      background-color: mat-color($bict-primary);
      width: 0;
    }
  }
}

.profile-img {
  font-size: 6em;
}

.achievement-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  .achievement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid mat-color($bict-primary);
    border-radius: 5px;
    padding: 1em;
    width: 150px;
    box-sizing: border-box;

    span {
      margin-top: 0.5em;
    }

    mat-icon {
      color: mat-color($bict-primary);
    }
  }

  .achievement + .achievement {
    margin-left: 1em;
  }
}

/*Profile Information ฅ•ω•ฅ*/
// .profile-information {
//   display: flex;
//   justify-content: space-between;
//   width: 100%;
//   align-items: stretch;
//   flex-grow: 3;

//   .profile-name {
//     display: flex;
//     justify-content: space-between;
//     border-bottom: 3px solid $color-standard;
//     padding-bottom: 0px;
//     line-height: 0.1em;
//     flex-grow: 1;
//   }

//   .profile-experience {
//     flex-grow: 1;
//   }

//   .profile-rank {
//     flex-grow: 1;
//   }
// }

// /*Profile Tasks ฅ•ω•ฅ*/
// .profile-tasks {
//   h4 {
//     font-weight: 400;
//   }

//   .profile-task {
//   }
// }

// /*Profile Achievements ฅ•ω•ฅ*/
// .profile-achievements {
// }
